*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #000;
}
.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top {
    background-color: #000;
    padding:20px 0;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px; 
    margin-right: 10px;
}

.brand-name {
    font-size: 20px;
    font-weight: 100px;
    color: #BBBBBB;
    margin-top: 40px;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right p {
    color: #BBBBBB;
    margin-right: 20px;
    font-size: 14px;
    text-decoration: none;
}

.header-right button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #444;
    border-radius: 4px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding:10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    width: 150px;
}

.search-btn {
    background-color: #444;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.main-nav {
    background-color: #111;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;

}

.main-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.main-nav ul li {
    margin: 0 15px;
}
.main-nav ul li i{
    color: #BBBBBB
}

.main-nav ul li a {
    color: #BBBBBB;
    text-decoration: none;
    font-size: 16px;
}
.main-nav ul li a:hover{
    color: white;
}
main .article-1{
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), 
    url('Mtr/image/img3_1.png');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    height: 640px;
    color: #f8f8f8;
}
main .article-text{
    float:left;
    margin-left: 100px;
    margin-top: 150px;
    line-height: 1.3;
}
main .article-text p:first-of-type{
    font-size: 50px;
    transform: scaleY(1.5);
    font-family: 'Times New Roman', Times,sans-serif;
    margin-bottom: 50px;
}
main .article-2 img{
    float: left;
    width: 45%;
    height: 680px;
    margin: 30px 100px 50px 20px;
}
.article-text2{
    padding: 200px;
    justify-content: center;
    display: block;
    line-height: 1.2;
}
main .article-text2 p:first-of-type{
     font-size: 40px;
     font-family: 'Times New Roman', Times, serif;
     padding-left: 100px;
     color: #333;
     transform: scaleY(1.2);
     margin-bottom: 50px;
}
main .article-text2 p:last-of-type{
    font-size: 16px;
    line-height: 1.6;
    color: #767676;
}
main button{
    background-color: #0078D6;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 25px;
}
main button:hover{
    background-color: #01467D;
}
main .button h4{
    font-size: 16px;
    padding-top: 15px;
    padding: 15px 10px 0 10px;
    color: #fff;
    font-weight: 600px;
    padding-bottom: 15px;
}
main .button a{
    text-decoration: none;
}

footer .footer{
    background-color: black;
    width: 100%;
    height: 850px;
    color:#f8f8f8;
   
}
footer .title p{
    font-size: 16px;
    text-align: center;
    padding-top: 80px;
}

footer .box-footer{
    border: 0.5px solid #767676;
    width: 1214px;
    padding: 35px;
    height: 150px;
    margin-left: 100px;
    margin-top: 40px;
}
footer .box-footer button{
    float: right;
    padding: 25px;
    margin-bottom: 15px;
    background-color: #0078D6;
    border: 1px solid #0078D6 ;
}
footer button:hover{
    background-color: #01467D;
}
footer .box-footer button p{
    color: #f8f8f8;
    font-size: 16px;
    font-weight: bold;
}
footer .box-footer h3{
    margin-bottom: 15px;
}
footer .box-footer h6{
    font-size: 16px;
    font-weight: 100;
    color: #767676;
}
footer .box-feature{
    margin-top: 50px;
    margin-left: 100px;
    width: 1214px;
    height: auto;
}
footer .box-feature ul{
   display: inline-block;
   vertical-align: top;
   list-style-type: none;
   margin-right: 40px;
   margin-top: 10px;
   text-align: justify;
}
footer .box-feature ul li {
    position: relative;
    padding: 10px;
    color: #BBBBBB;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
}

footer .box-feature ul li:not(:first-of-type)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #767676;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

footer .box-feature ul li:not(:first-of-type):hover {
    color: #f8f8f8;
}

footer .box-feature ul li:not(:first-of-type):hover::after {
    transform: scaleX(1);
}

footer .box-feature ul li:first-of-type{
  color: #f8f8f8;
  margin-bottom: 10px;
}
hr{
    width: 85%;
    margin-left: 100px;
    margin-top: 50px;
    color: #BBBBBB;
}
footer .box-social ul{
    display: flex;
    margin-left: 100px;
    list-style-type: none;
    margin-top: 50px;
}
footer .box-social li{
    margin-right: 40px ;
    color: #BBBBBB;
}
footer .social ul{
    display: flex;
    float: right;
    list-style-type: none;
    margin-right: 100px;
    margin-top: 50px;
}
footer .social li{
    margin-right: 20px;
    font-size: 30px;
}
